merge_lora.*
merge_pissa.*

/cuda
/src
/web
/json2binidx_tool
/assert
/scripts
/rwkvt

/data/*
/merge/*
/model/*
/output/*
!/merge/.gitkeep
!/model/.gitkeep
!/output/.gitkeep
filter.exe
train.py
src_train.py
merge.py

__pycache__

!/data/sample.jsonl

merge_state.py
/merge_model/*
!/merge_model/.gitkeep
/fla
requirements.txt
demo-pissa.sh
test.py
history_run_command.sh.log
wandb
开启碎片清理.txt
mask_test.ipynb